#################
## Private Settings
#################

db.*.inc.php



############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#################
## Unwanted Images and files
#################
edencms/
edencms_files/
images/
.raidenftpd.acl